@model dev.scan_back.Models.assort

@{
    ViewBag.Title = "Diff";
}

<h2>Diff</h2>
@*<h2>@ViewBag.Diff</h2>*@
@*<h2>@ViewBag.assort</h2>
    <h2>@ViewBag.scans</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*foreach (var item in Model.Ean13)
        {
        <h2>item</h2>
        }*@

    <div class="form-horizontal">
        <h4>Assort</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Ean13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ean13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ean13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}
